<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" href="assets/img/icon.png" type="image/x-icon">
    <title>uSay!t</title>

    <link rel="stylesheet" href="assets/css/home/Mobile.css?refreshcss=1">
    <link rel="stylesheet" href="assets/library/icomoon/style.css">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <div class="section-1">
        <div data-aos="fade-down" data-aos-duration="1000" class="header">
            <img id="logo" src="assets/img/logo.png" alt="">
        </div>
        <div data-aos="fade-up" data-aos-duration="1500" class="description">
            <h1>IMAGINE A PLACE...</h1>
            <p>...where you can say whatever you want, and the message is Anonymous, just by doing one click and then it will be sent to various social media that are available on uSay!t</p>
        </div>

        <div data-aos="fade-up" data-aos-duration="2000" class="button">
            <a id="button">U Say It, Now!</a>
        </div>

        <div data-aos="fade-up" data-aos-duration="2000" class="platforms">
            <h2>social media platforms</h3>
            
            <div class="buttons">
                <a id="instagram-btn" class="icon-">instagram</a>
                <a id="twitter-btn" class="icon-">twitter</a>
            </div>
        </div>
    </div>

    <div class="section-2">
        <div class="content">
            <div data-aos="fade-down" data-aos-duration="1000">
                <h1>You can send messages such as</h1>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" class="animation">
                <p id="textAnimation">Inform</p>
            </div>
        </div>
    </div>

    <div class="section-3">
        <div class="content">
            <div class="header">
                <img data-aos="fade-down" data-aos-duration="1000" src="assets/img/keepsafe.png" alt="">
            </div>
            <div class="desc">
                <p data-aos="fade-up" data-aos-duration="1000">We expected that users comply with the terms of service policy on each social media platform that we provide. To ensure safety on uSayit, we filter some words that are harsh, offensive, harmful or bullying. Then our system stores users personal data in case of a violation. Your message posts will also be deleted by the system if you commit a violation.</p>
            </div>
        </div>
    </div>

    <div class="section-4">
        <div class="content">
            <div class="header">
                <img data-aos="fade-down" data-aos-duration="1000" src="assets/img/faq.png" alt="">
            </div>
    
            <ul class="faq-list">
                <ul data-aos="fade-down" data-aos-duration="1000" class="q1">
                    <li class="question">
                        <img src="assets/img/question.png" alt="">
                        <p>what does uSay!t mean?</p>
                    </li>
                    <li class="answer">
                        <p>uSay!t or uSayit, you can pronounce it like "You Say It".</p>
                    </li>
                </ul>
    
                <ul data-aos="fade-up" data-aos-duration="1000" class="q2">
                    <li class="question">
                        <img src="assets/img/question.png" alt="">
                        <p>what's the purpose of uSay!t?</p>
                    </li>
                    <li class="answer">
                        <p>we want to give users the freedom of speech whatever they want to convey through social media, the message is anonymous, and can be seen by the general public.</p>
                    </li>
                </ul>
    
                <ul data-aos="fade-down" data-aos-duration="1000" class="q3">
                    <li class="question">
                        <img src="assets/img/question.png" alt="">
                        <p>where's it available?</p>
                    </li>
                    <li class="answer">
                        <p>for now, uSay!t is only intended for Indonesian netizens.</p>
                    </li>
                </ul>
    
                <ul data-aos="fade-up" data-aos-duration="1000" class="q4">
                    <li class="question">
                        <img src="assets/img/question.png" alt="">
                        <p>who built uSay!t?</p>
                    </li>
                    <li class="answer">
                        <p>uSay!t is built by designer and engineer. you can see the developer profile on the credits page.</p>
                        <div class="button">
                            <a id="button">Credits Page</a>
                        </div>
                    </li>
                </ul>
            </ul>
        </div>
    </div>

    <div class="section-5">
        <div class="content">
            <div data-aos="fade-up" data-aos-duration="1000" class="form">
                <div class="header">
                    <h1 data-aos="fade-down" data-aos-duration="1500">Send Feedback</h1>
                    <p data-aos="fade-up" data-aos-duration="2000">send feedback to support uSay!t to be better</p>
                </div>
                <div class="input">
                    <input type="text" autocomplete="off" class="form-input" placeholder="Type your feedback here...">
                    <input type="button" class="form-send" value="Send">
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="content">
            <img src="assets/img/logo.png" alt="">
            <p>© uSayit | All rights reserved</p>
        </div>
    </div>
    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();

        const textAnimation = () => {
            const text = document.getElementById("textAnimation");
            let textAnimList = ['Inform', 'Advice', 'Confess', 'Jokes', 'Asking', 'News', 'Quote', 'Gossip', 'Compliment', 'Poetry', 'Campaign', 'Offend', 'Poem', 'Entertain', 'Help', 'Fact', 'Notify', 'Offer', 'Praise', 'Recommend', 'Tell', 'Justify', 'Suggest'];
            let curIndex = 1;
            let totalIndex = textAnimList.length - 1;

            setInterval(() => {
                if(curIndex > totalIndex) {
                    curIndex = 0;
                }

                text.innerHTML = textAnimList[curIndex];
                curIndex++
            }, 4000);
        }

        textAnimation();
    </script>
</body>
</html>
